body {
    background-color:rgb(221, 235, 182);
    width: 960px;  
    margin-left: 25px; 
    margin-top: 25px;
}
h1{
background-color: rgb(250, 196, 126);
margin: 0px;
border:0px;
padding:10px;
}
img {
    width:100px;
    height:auto;
    padding:10px;
    
}

p {
    border:0px;
    margin-bottom:10px;
    padding:10px;
    background-color: rgb(125, 200, 188);

}

h2 {
    border:0px;
    margin:0px;
    padding:5px;
    background-color: rgb(250, 196, 126);
}
ul{
    margin-left: 50px;
    padding:10px;
    list-style: square;
}
ol{
    margin-left: 50px;
    padding: 10px;
    list-style: decimal inside;
    
}